<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Koniec internetów</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Events" asp-action="Index">Strona Główna</a>
    </div>
</div>
